@import "tailwindcss";

@theme {
  --color-todo-gray-100: #f2f2f2;
  --color-todo-gray-200: #D9D9D9;
  --color-todo-gray-300: #808080;
  --color-todo-gray-400: #333333;
  --color-todo-gray-500: #262626;
  --color-todo-gray-600: #1a1a1a;
  --color-todo-gray-700: #0D0D0D;
  
  --color-todo-blue-dark: rgba(30, 111, 158, 1);
  --color-todo-blue-dark-opacity: rgba(30, 111, 158, 0.3); 
  --color-todo-blue: #4EA8DE;
  --color-todo-purple-dark: #5E69CE;
  --color-todo-purple: #8284FA;
  
  --color-todo-danger: #E25858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  font-size: 1rem;
  font-weight: 400;
}